[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
requests-oauthlib = "*"
python-dateutil = "*"
pygments = "*"
msal = "*"
aiohttp = "*"
dynaconf = "*"
kivymd = "*"
spotipy = "*"

[dev-packages]
pyinstaller = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
